.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: #fff;
}

.Title {
    margin: 0 0 2rem 0;
}

.Input {
    margin-bottom: 2rem;
    border: 0;
    border-bottom: 0.15rem solid #4dddff;
}

.Input:focus {
    outline: 0;
    border-color: #4eb8ff;
}

.ButtonsWrapper {
    display: flex;
    gap: 1rem;
}

.Button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    color: #ffffff;
    text-decoration: none;
    border: 0;
    border-radius: 28px;
    background-color: #44c767;
    cursor: pointer;
}

.Button:focus {
    outline: none;
}